*{
    font-family: monospace;
    font-size: 16px;
   
}
body{

    width: 1500px;
    font-size: 20px;
margin: 100px auto;
display: inline-block;




h2{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 18px;
}
.title {
    padding-bottom: 5px;
    border-bottom: solid 2px red;

}
p{
    margin-bottom:15px ;
    width: 1100px;
    font-size: 18px;
    color: gray;
    
}

}
button{
    border: 1px solid red;
    padding:10px 20px;
    border-radius: 20px;
    text-transform: uppercase;

    color: red;
    background-color: white;
    


}



.h h1{
    font-size: 45px;
    font-family: Arial;
    width: 450px;
    height: 100px; 
    transform: translateY(-200px)

}
.h h2{
    margin-bottom: 50px;
    transform: translateY(-180px)
}
.h{
    display: inline-block;
    width: 50%;
    font-size: 20px;
    margin-left: 70px;
}
.a{
    display: inline-block;
    width: 40%;
    height: 500px;
}

.b p {
    display: inline-block; 
    margin: 0 20px; 
    width: 15%;
    white-space: nowrap;
    transform: translateY(-70px);
}
.inf{
    max-width: 800px;
    margin:32px auto ;
}
.but{
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 10px 15px;
      

}

.chil{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
.n{ width: 550px;
}
.z{
    width: 500px;
}
.ct{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 50px;
    
}
.y{
    font-size: 15px;
    font-weight: bolder;
    
   
}
.t{
    font-size: 20px;
    margin-top:  10px; 
    margin-bottom: 10px;
    
}
.x{
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 15px;
    margin-top: 15px;
    
    

}
.s{
    color:grey ;

}
.in{
    
    width: 550px;
}
.inx{
    width: 500px;
    transform: translateY(54px);
}
.content{
    display: flex;
    gap: 10px;
    
}
.main{
    width: 1200px;
    margin-top: 60px;
}
.l{
    margin-top: 10px;
}